*{ margin: 0;
  padding: 0;
}

body{
}

.relative{
  position:relative;
  width:100%;
}

.lp{
  position:absolute;
  width:100%;
  z-index:1;
  touch-callout:none;
  user-select:none;
  -webkit-touch-callout:none;
  -webkit-user-select:none;
  -moz-touch-callout:none;
  -moz-user-select:none;
}

.btn1{
  position:absolute;
  margin-top:541%;
  margin-left:9%;
  z-index:2;
  width:80%;
}

.btn1_q{
  position:absolute;
  margin-top:445%;
  margin-left:9%;
  z-index:2;
  width:80%;
}

.top{
  position:absolute;
  margin-top:410%;
  margin-left:9%;
  z-index:2;
  width:80%;
}

.pochi{
  position:absolute;
  margin-top:525%;
  margin-left:9%;
  z-index:2;
  width:80%;
}
.btn2{
  position:absolute;
  margin-top:590%;
  margin-left:9%;
  z-index:2;
  width:80%;
}

.btn3{
  position:absolute;
  margin-top:616%;
  margin-left:9%;
  z-index:2;
  width:80%;
}

.btn-top{
  position:absolute;
  margin-top:215%;
  margin-left:5%;
  z-index:2;
}

.btn-top_q{
  position:absolute;
  margin-top:139%;
  margin-left:22%;
  z-index:2;
}

.btn-top_q{
  font-size:38px;
  font-weight:bold;
}

.btn-top p{
  font-size:51px;
}

.btn-top2 p{
  font-size:51px;
}

.btn-top3 p{
  font-size:51px;
}

.btn-top4 p{
  font-size:51px;
}

.btn-top5 p{
  font-size:31px;
}

.btn-top6 p{
  font-size:35px;
  color:white;
}

.btn-top6_q p{
  font-size:35px;
  color:white;
}
.btn-top_q3 p{
  font-size:38px;
  font-weight:bold;
}

.btn-top_q4 p{
  font-size:38px;
  font-weight:bold;
}

.btn-top_q5 p{
  font-size:38px;
  font-weight:bold;
}

.btn-top_q6 p{
  font-size:38px;
  font-weight:bold;
}
.btn-top_q7 p{
  font-size:38px;
  font-weight:bold;
}
.btn-top_q8 p{
  font-size:38px;
  font-weight:bold;
}
.btn-top2{
  position:absolute;
  margin-top:348%;
  margin-left:7%;
  z-index:2;
}

.btn-top_q2{
  position:absolute;
  margin-top:156%;
  margin-left:22%;
  z-index:2;
}

.btn-top_q2 p{
  font-size:38px;
  font-weight:bold;
}

.btn-top3{
  position:absolute;
  margin-top:399%;
  margin-left:6%;
  z-index:2;
}

.btn-top_q3{
  position:absolute;
  margin-top:223%;
  margin-left:22%;
  z-index:2;
}

.btn-top_q4{
  position:absolute;
  margin-top:240%;
  margin-left:22%;
  z-index:2;
}

.btn-top_q5{
  position:absolute;
  margin-top:300%;
  margin-left:22%;
  z-index:2;
}

.btn-top_q6{
  position:absolute;
  margin-top:317%;
  margin-left:22%;
  z-index:2;
}

.btn-top_q7{
  position:absolute;
  margin-top:364%;
  margin-left:22%;
  z-index:2;
}

.btn-top_q8{
  position:absolute;
  margin-top:385%;
  margin-left:22%;
  z-index:2;
}
.btn-top4{
  position:absolute;
  margin-top:449%;
  margin-left:6%;
  z-index:2;
}

.btn-top5{
  position:absolute;
  margin-top:560%;
  margin-left:3%;
  z-index:2;
}

.btn-top6{
  position:absolute;
  margin-top:685%;
  margin-left:12%;
  z-index:2;
}

.btn-top6_q{
  position:absolute;
  margin-top:500%;
  margin-left:10%;
  z-index:2;
}

.btn-bottom{
  position:absolute;
  margin-top:1029%;
  width:100%;
/*
  bottom:5.3%;
  margin-left:17%;
  width:65%;
*/
  z-index:2;
}

.twitter{
  position:absolute;
  margin-top:1089%;
  width:20%;
  margin-left:15%;
/*
  bottom:0.7%;
  margin-left:20%;
  width:16%;
*/
  z-index:2;
}

.mail{
  position:absolute;
  margin-top:1089%;
  width:20%;
  margin-left:64%;
/*
  bottom:0.7%;
  margin-left:63%;
  width:16%;
*/
  z-index:2;
}
